<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>webpage form</h1>
        <form method="post">
            {% csrf_token %}
            {{ WFO.as_p }}
            <input type="submit">
        </form>
    </center> 
</body>
</html>
<!--
        <label for="tn">topicname</label>
        <input type="text" name="tn" id="tn"><br>
        <label for="na">name</label>
        <input type="text" name="na" id="na"><br>
        <label for="cr">creatorname</label>
        <input type="text" name="cr" id="cr"><br>
        <input type="submit"> using django for html page-->